@font-face {
  font-family: Juice ITC;
  src: url(/assets/juice-itc.TTF);
}

body {
  font-family: "Federo", sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-bar {
  background: #000;
  padding: 10px 0;
  text-align: center;
}

.logo {
  color: #fff;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: "Georgia", serif;
}

.logo-z {
  font-family: 'Juice ITC', cursive;
  font-size: 2rem;
}

.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size:1.8rem
}

.login-container p {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border: 1px solid #000;
  margin-bottom: 15px;
  font-size: 1rem;
}

.btn-primary {
  background: #000;
  color: #fff;
  padding: 7px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 15px;
  font-family: "Federo", sans-serif;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.divider hr {
  flex: 1;
  border: none;
  border-top: 1px solid #000;
}

.divider span {
  margin: 0 10px;
  font-size: 0.9rem;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  gap: 8px;
  font-family: "Georgia", serif;
}

.btn-google img {
  width: 18px;
  height: 18px;
}

.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.footer p {
  margin: 0;
  font-size: 0.8rem;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.social-icons img {
  width: 18px;
  height: 18px;
  filter: invert(1);
  cursor: pointer;
}
   .conteudo {
      max-width: 700px;          
      padding: 20px;
      text-align: center;          
    }

    h1 {
      text-align: center;        
      font-size: 32px;
      margin-bottom: 40px;
      font-family: Georgia, 'Times New Roman', Times, serif
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
      text-align: center;
      font-family: 'Arial', Helvetica, sans-serif;
      margin-top: 0;
    }
    h3 {
        font-size: x-small;
        font-family: 'Arial', Helvetica, sans-serif;
        text-align: center;
        font-weight: lighter;
        color: lightgray;
    }
    
    
    p {
      margin-bottom: 16px;
      text-align: justify;
      text-align: center;
      font-family: 'Arial', Helvetica, sans-serif;         
    }

    h4 {
        
    }