@font-face {
  font-family: Juice ITC;
  src: url(/assets/juice-itc.TTF);
}

body {
    margin:0
}

header {
    background-color: black;
    width:100%;
    min-height: 90px;
    display: flex;
    align-items: center;
}

header > p {
    color:white
}

.icones-pesquisa {
    margin-left: 25px;
    margin-right:0px;
    height:30px;
    width:30px;
}

.icones-menu {
    height:43px;
    width:43px;
}

.texto-menu {
    font-size: 36px;
    margin-left: 10px;
    margin-right:auto;
}