@font-face {
  font-family: Juice ITC;
  src: url(/assets/juice-itc.TTF);
}

@font-face {
    font-family: Jacques Francois;
    src: url(/assets/JacquesFrancois-Regular.ttf);
}

@font-face {
    font-family: Federo;
    src: url(/assets/Federo-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin:0;
}

header {
    background-color: black;
    width:100%;
    min-height: 90px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > p {
    color:white
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer > a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

footer > p {
  margin: 0;
  font-size: 0.8rem;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.social-icons > img {
  width: 18px;
  height: 18px;
  filter: invert(1);
  cursor: pointer;
}

footer > p {
  margin: 0;
  font-size: 0.8rem;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.social-icons > img {
  width: 18px;
  height: 18px;
  filter: invert(1);
  cursor: pointer;
}

.icones-pesquisa {
    margin-left: 25px;
    margin-right:0px;
    height:30px;
    width:30px;
}

.icones-menu {
    height:43px;
    width:43px;
}

.texto-menu {
    font-size: 36px;
    font-family: "Federo";
    margin-left: 10px;
    margin-right:auto;
}

.texto-titulo {
    font-family: "Jacques Francois";
    font-size:36px;
}

.texto-titulo-z {
    font-family: "Juice ITC", cursive;
    font-size: 72px;
}

.texto-log-in {
    margin-left: auto;
    margin-right: 10px;
    font-family: "Federo";
}